# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
android/**/generated/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
android/app/*.json

# iOS related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.[mh]

# IDE related
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Hive databases (local testing data)
*.hive
*.lock

# OS related
.DS_Store

# Logs
*.log

# Exceptions
!assets/images/liarty_icon.png